@import helper._
@(form: Form[Admin.AddCharity], form2: Form[Admin.AddLeader], charities: List[Charity], needs: Long, charity: Long,
users: Long,donations: Long, date: String)
@main {
<section class="featured"></section>
<section id="section-works" class="section appear clearfix">
    <div class="container">
        <div class="row">
            <h1>Admin Section</h1>
        </div>
        <div class="row">
            <div class ="col-lg-2"><button type="submit" class="btn btn-success btn-block btn-lg" id="showAddCharity">Add Charity</button></div>
            <div class ="col-lg-2"><button type="submit" class="btn btn-success btn-block btn-lg" id="showAddLeader">Add Leader</button></div>
            <div class ="col-lg-2"><a href="@routes.Admin.payOut()"><button type="submit" class="btn btn-success btn-block btn-lg">Pay Needs</button></a></div>
        </div>
        @if(form.hasGlobalErrors) {
        <p class="error">
            @for(error <- form.globalErrors) {
        <li>@error.message</li>
            }
        </p>
        }

        @if(flash.contains("success")) {
        <p class="success">
            @flash.get("success")
        </p>
        }
        <div class="row" id="addCharity" style="display: none">
            <br />
            <h3>Add Charity</h3>
            @helper.form(CSRF(routes.Admin.addCharity)) {
            <div class="container-form">
                <form role="form">
                    <div class="row">
                        <div class="col-lg-4"><input type="text" name="charityName" id="charityName" class="form-control input-lg" placeholder="Charity Name" value="@form("chairtyName").value" tabindex="5"></div><br /> <br />
                    </div>
                    <div class="row">
                        <div class ="col-lg-2"><button type="submit" class="btn btn-success btn-block btn-lg">Submit</button></div>
                    </div>

                </form>
            </div>
            }
        </div>

        <div class="row" id="addLeader" style="display: none">
            <br />
            <h3>Add Leader for Charity</h3>
            @helper.form(CSRF(routes.Admin.addLeader)) {
            <div class="container-form">
                <form role="form">
                    <div class="row">
                        <div class="col-lg-4"><input type="email" name="leaderEmail" id="leaderEmail" class="form-control input-lg" placeholder="Leader Email" value="@form("leaderEmail").value" tabindex="5"></div><br /> <br />
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <select id="urgency" class="form-control input-lg" name="charity">
                                <option selected disabled>Charity</option>
                                @for(charity <- charities) {
                                    <option value="@charity.id">@charity.name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class ="col-lg-2"><button type="submit" class="btn btn-success btn-block btn-lg">Submit</button></div>
                    </div>

                </form>
            </div>
            }
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col-xs-6 col-md-3">

                <div class="panel status panel-danger">
                    <div class="panel-heading" style="background-color: red">
                        <h1 class="panel-title text-center">@needs</h1>
                    </div>
                    <div class="panel-body text-center">
                        <strong>Needs</strong>
                    </div>
                </div>

            </div>
            <div class="col-xs-6 col-md-3">

                <div class="panel status panel-warning">
                    <div class="panel-heading"style="background-color: green">
                        <h1 class="panel-title text-center">@charity</h1>
                    </div>
                    <div class="panel-body text-center">
                        <strong>Charities</strong>
                    </div>
                </div>

            </div>
            <div class="col-xs-6 col-md-3">

                <div class="panel status panel-success">
                    <div class="panel-heading"style="background-color: #DD5600">
                        <h1 class="panel-title text-center">@users</h1>
                    </div>
                    <div class="panel-body text-center">
                        <strong>Users</strong>
                    </div>
                </div>


            </div>
            <div class="col-xs-6 col-md-3">

                <div class="panel status panel-info">
                    <div class="panel-heading" style="background-color: dodgerblue">
                        <h1 class="panel-title text-center">@donations</h1>
                    </div>
                    <div class="panel-body text-center">
                        <strong>Donations</strong>
                    </div>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-md-5">
                Stats generated on @date
            </div>
        </div>
        <hr>
    </div>



        <br />

    </div>
</section>

}
        <script>
            $("#showAddCharity").click(function() {
                $("#addCharity").toggle();
                $("#addLeader").hide();
            });
            $("#showAddLeader").click(function() {
                $("#addLeader").toggle();
                $("#addCharity").hide();
            });
        </script>
