@import helper._
@(form: Form[Admin.AddCharity], form2: Form[Admin.AddLeader], charities: List[Charity], needs: Long, charity: Long,
users: Long,donations: Long, date: String)
@main {
<section class="featured"></section>
<section id="section-works" class="section appear clearfix">
    <div class="container">
        <div class="row">
            <div class ="col-lg-3">
                <h1>Admin Section</h1>
            </div>
        </div>
        <div class="row pad-bot40">
            <div class ="col-lg-2"><button type="submit" class="btn btn-success btn-block btn-lg" id="showAddCharity" tabindex="6">Add Charity</button></div>
            <div class ="col-lg-2"><button type="submit" class="btn btn-success btn-block btn-lg" id="showAddLeader" tabindex="7">Add Leader</button></div>
            <div class ="col-lg-2"><a href="@routes.Admin.payOut()"><button type="submit" class="btn btn-success btn-block btn-lg" tabindex="9">Pay Needs</button></a></div>
        </div>
        @if(form.hasGlobalErrors) {
        <p class="error">
            @for(error <- form.globalErrors) {
        <li>@error.message</li>
            }
        </p>
        }

        @if(flash.contains("success")) {
        <p class="success">
            @flash.get("success")
        </p>
        }
        <!-- Add charity -->
        <div class="row" id="addCharity" style="display: none">
            <div class="col-lg-10">
                <h3>Add Charity</h3>
                @helper.form(CSRF(routes.Admin.addCharity)) {
                <div class="container-form">
                    <form role="form">
                        <div class="row pad-bot10">
                            <div class="col-lg-4"><input type="text" name="charityName" id="charityName" class="form-control input-lg" placeholder="Charity Name" value="@form("chairtyName").value"></div>
                        </div>
                        <div class="row pad-bot10">
                            <div class="col-lg-4"><input type="text" name="website" id="website" class="form-control input-lg" placeholder="Website" value="@form("website").value"></div>
                        </div>
                        <div class="row pad-bot10">
                            <div class ="col-lg-6"><textarea class="form-control input-lg" rows="3" name="description"  id="description" placeholder="Description of charity" maxlength="600">@form("description").value</textarea></div>
                        </div>
                        <div class="row">
                            <div class ="col-lg-2"><button type="submit" class="btn btn-success btn-block btn-lg" tabindex="10">Submit</button></div><div class ="col-lg-2"><button id="closeAddCharity" type="button" class="btn btn-danger btn-block btn-lg" tabindex="11">Close</button></div>
                        </div>

                    </form>
                </div>
                }
                </div>
        </div>
        <!-- Add Leader -->
        <div class="row" id="addLeader" style="display: none">
            <div class="col-lg-10">
                <h3>Add Leader for Charity</h3>
                @helper.form(CSRF(routes.Admin.addLeader)) {
                <div class="container-form">
                    <form role="form">
                        <div class="row pad-bot10">
                            <div class="col-lg-4"><input type="email" name="leaderEmail" id="leaderEmail" class="form-control input-lg" placeholder="Leader Email" value="@form("leaderEmail").value" tabindex="12"></div>
                        </div>
                        <div class="row pad-bot10">
                            <div class="col-lg-4">
                                <select id="urgency" class="form-control input-lg" tabindex="13" name="charity">
                                    <option selected disabled>Charity</option>
                                    @for(charity <- charities) {
                                        <option value="@charity.id">@charity.name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class ="col-lg-2"><button type="submit" tabindex="14" class="btn btn-success btn-block btn-lg">Submit</button></div><div class ="col-lg-2"><button id="closeAddLeader" type="button" class="btn btn-danger btn-block btn-lg" tabindex="15">Close</button></div>
                        </div>

                    </form>
                </div>
                </div>
            }
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col-xs-6 col-md-3">

                <div class="panel status panel-danger">
                    <div class="panel-heading" style="background-color: red">
                        <h1 class="panel-title text-center">@needs</h1>
                    </div>
                    <div class="panel-body text-center">
                        <strong>Needs</strong>
                    </div>
                </div>

            </div>
            <div class="col-xs-6 col-md-3">

                <div class="panel status panel-warning">
                    <div class="panel-heading"style="background-color: green">
                        <h1 class="panel-title text-center">@charity</h1>
                    </div>
                    <div class="panel-body text-center">
                        <strong>Charities</strong>
                    </div>
                </div>

            </div>
            <div class="col-xs-6 col-md-3">

                <div class="panel status panel-success">
                    <div class="panel-heading"style="background-color: #DD5600">
                        <h1 class="panel-title text-center">@users</h1>
                    </div>
                    <div class="panel-body text-center">
                        <strong>Users</strong>
                    </div>
                </div>


            </div>
            <div class="col-xs-6 col-md-3">

                <div class="panel status panel-info">
                    <div class="panel-heading" style="background-color: dodgerblue">
                        <h1 class="panel-title text-center">@donations</h1>
                    </div>
                    <div class="panel-body text-center">
                        <strong>Donations</strong>
                    </div>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-md-5">
                Stats generated on @date
            </div>
        </div>
        <hr>
    </div>



        <br />

    </div>
</section>

}
<script src="@routes.Assets.at("js/admin.js")"></script>
