@import helper._
@(form: Form[Profile.EditNeed], id: Long)
@main {
    <section class="featured"></section>
    <section id="section-works" class="section appear clearfix">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-5">
                        <h1>Edit Need</h1>
                        </div>
                    </div>
                    @if(form.hasGlobalErrors) {
                        <p class="error">
                        @form.globalError.message
                        </p>
                    }

                    @if(flash.contains("success")) {
                        <p class="success">
                        @flash.get("success")
                        </p>
                    }
                    @helper.form(CSRF(routes.Profile.doEditNeed(id))) {
                        <form role="form">
                            <div class="container-form">
                                <div class="row">
                                    <div class="col-lg-10"><input type="text" name="title" id="needTitle" class="form-control input-lg" placeholder="Need Title" maxlength="20" value="@form("title").value" tabindex="6"></div> <br /><br />
                                </div>

                                <div class="row">
                                    <div class="col-lg-10"><input type="number" step="any" name="amount" id="amount" class="form-control input-lg" placeholder="€" value="@form("amount").value" tabindex="7"></div><br /><br />
                                </div>
                                <div class="row">
                                    <div class="col-lg-10"><input type="text" name="location" id="location" class="form-control input-lg" placeholder="Location" value="@form("location").value" tabindex="8"></div><br /><br />
                                </div>
                                <div class="row">
                                    <div class="col-lg-10">
                                        <select id="urgency" name="urgency" class="form-control input-lg" tabindex="9">
                                            <option selected disabled>Urgency</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>
                                    <br /><br />
                                </div>
                                <div class="row">
                                    <div class="col-lg-10">
                                        <select id="category" name="category" class="form-control input-lg" tabindex="9">
                                            <option selected disabled>Category</option>
                                            <option value="Family">Family</option>
                                            <option value="Education">Education</option>

                                        </select>
                                    </div>
                                    <br /><br />
                                </div>
                                <div class="row">
                                    <div class ="col-lg-10"><textarea class="form-control input-lg" rows="3" name="description" id="needDescription" placeholder="Description" maxlength="600" tabindex="10">@form("description").value</textarea></div><br /><br />
                                </div>
                                <br />
                            </div>
                    </div>

                <div class="col-lg-6">
                    <div class="row">
                        <h1 class="col-lg-10">Add an update</h1>
                    </div>
                    <div class="row">
                        <p class="col-lg-10">Give an update to those who care about the situation. The update will be emailed to donators and be displayed on the needs page. It is optional.</p>
                    </div>
                    <div class="row">
                        <div class ="col-lg-10"><textarea class="form-control input-lg" rows="3" name="message"  id="message" placeholder="Update" maxlength="600" tabindex="11">@form("message").value</textarea></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <br>
                    <div class="row">
                        <h1 class="col-lg-10">Close Need</h1>
                    </div>
                    <div class="row">
                        <p class="col-lg-10">Closing a need stops donations for this need. Money donated towards this need will then be sent to the charity.</p>
                    </div>
                    <div class="row">
                        <div class ="col-lg-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="true" name="closed"> Tick here to close need
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class ="col-lg-10"><textarea class="form-control input-lg" rows="3" name="reason"  id="reason" placeholder="Reason for closing" maxlength="600" tabindex="12">@form("reason").value</textarea></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class ="col-lg-2"><button id="addNeedButton" class="btn btn-success btn-block btn-lg" tabindex="12">Save</button></div>
        </div>
            </form>
            }
        </div>

    </section>

}
</body>
</html>