@(needs: List[Need], currentPage: Integer, pageCount: Integer, category: Long)
@main {
    <section class="featured"></section>

    <section id="parallax1" class="section pad-top40 pad-bot40" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="align-center pad-top40 pad-bot40">
                <blockquote class="bigquote color-white">Needs</blockquote>
                <p class="color-white">y</p>
            </div>
        </div>
    </section>

    <!-- section works -->
    <section id="section-works" class="section appear clearfix">
        <div class="container">

            <div class="row mar-bot40">
                <div class="col-md-offset-3 col-md-6">
                    <div class="section-header">
                        <h2 class="section-heading animated" data-animation="bounceInUp">
                            <div class="uk-margin" data-uk-margin>
                                <div class="uk-button-dropdown" data-uk-dropdown>
                                    Your
                                    <button type="button" class="uk-button dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        COMMUNITY <span class="caret"></span>
                                    </button>

                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Country</a></li>
                                    </ul>
                                </div>
                            </div>
                         </h2>
                        <p>The most urgent needs in your community</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <nav id="filter" class="col-md-12 text-center">
                    <ul>
                        <li><a href="@routes.Application.needs()" id="catAll" class="@if(category==2){current} btn-theme btn-small">All</a></li>
                        <li><a href="@routes.Application.needs(1,0)" id="catFam"  class="@if(category==0){current} btn-theme btn-small">Family</a></li>
                        <li ><a href="@routes.Application.needs(1,1)" id="catEdu" class="@if(category==1){current} btn-theme btn-small">Education</a></li>
                    </ul>
                </nav>
                <div class="col-md-12">
                    <div class="row">
                        <div class="portfolio-items isotopeWrapper clearfix" id="3">
                            <!-- NEEDS GO HERE-->

                                <article class="align-center">
                                @for(need <- needs) {
                                    <div class="col-md-4 align-center">
                                        <div class="folio-info">
                                            <a href="@routes.Needs.viewNeed(1,need.id)"><i class="fa fa-gift fa-5x"></i></a>
                                            <h5><a href="@routes.Needs.viewNeed(1,need.id)" class="viewNeedLink">@need.title</a></h5>
                                            <div class="desc-limit">
                                                    @need.description
                                            </div>
                                            <h5><a href="@routes.Charities.viewCharity(1,need.charity.id)">@need.charity.name</a></h5>
                                        </div>
                                    </div>
                                }
                                </article>


                        </div>

                    </div>
                    <div class="row align-center">
                        @if(pageCount >1){
                            @pagination(currentPage, pageCount, pageCount, "needs",category)
                        }
                    </div>


                </div>
            </div>

        </div>
    </section>

    <a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>
}