@import helper._
@(need: Need, user: User, updates: List[Updates])
@main {

    <section id="header" class="appear"></section>
    <div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="fa fa-bars color-white"></span>
                </button>
                <h1><a class="navbar-brand" href="@routes.Application.index()" data-0="line-height:90px;" data-300="line-height:50px;">			Community Roots
                </a></h1>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
                    <li><a href="@routes.Application.index()">Home</a></li>
                    <li class="active"><a href="@routes.Application.needs()">Needs</a></li>
                    <li><a href="@routes.Application.index()#about">About us</a></li>
                    @if(session().get("email")==null) {
                        <li><a href="@routes.Registration.register()">Register</a></li>
                        <li><a href="@routes.Login.login()">Login</a></li>
                    } else {
                        <li><a href="@routes.Profile.profile()">Profile</a></li>
                        <li><a href="@routes.Profile.settings()">Settings</a></li>
                        <li><a href="@routes.Login.logout()">Logout</a></li>
                    }

                </ul>
            </div>
        </div>
    </div>



    <section class="featured"></section>

    <!-- section works -->
    <div class="centered">
        <div class="row align-center">
            <div class="col-lg-12">
                @if(flash.contains("success")) {
                <p class="success" style="color: green">
                    @flash.get("success")
                </p>
                }
                @if(flash.contains("error")) {
                <p class="error">
                    @flash.get("error")
                </p>
                }
            </div>
        </div>
        <div class="col-md-offset-3 col-md-8">
                <div class="row">
                    <div class="col-sm-3 col-md-2 align-center"><i class="fa fa-gift fa-5x"></i></div>
                    <div class="col-sm-5">
                        <h1>@need.title</h1>
                        <p>@need.charity.name</p>
                        <p>@need.location</p>
                        <p>@need.dateAdded</p>
                        <p id="amountNeeded">€@(need.askAmount - need.donatedAmount) needed</p>
                            <!--
                        breakdown of cost?
                        -->

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7">
                        <div class="description">
                            @need.description
                        </div>
                    </div>
                </div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@need.progressPercentage()" aria-valuemin="0" aria-valuemax="100" style="width: @need.progressPercentage()%">
                            @need.progressPercentage()%
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 align-center">
                    €@need.donatedAmount/€@need.askAmount
                </div>
                <div class="col-sm-2 col-md-2">
                    <a id="donateAmount" class="btn btn-primary btn-block">Donate</a>
                </div>
            </div>
            <div class="row align-center" id="enterAmount" style="display: none">
                @if(session().get("email")!=null) {
                <div class="col-sm-9 col-md-9">
                    @helper.form(CSRF(routes.Payment.chargeCard)) {
                    <form role="form">
                    <div class="form-group">

                        <label for="donateAmount">Amount:</label>
                        <input type="number" id="donationAmount" name="preFeeAmount" placeholder="€0.00">
                        <label for="donationAmount" id="showAmount"></label>
                    </div>
                        <div id="breakdown">
                            <div class="form-group">
                                <span><strong>Payment fee:</strong></span> <span id="stripeFee">€0.00</span> <br>
                                <span><strong>CommunityRoots fee:</strong> Always €0</span><br>
                                <span><strong>Total: </strong></span> <span id="stripeTotal">€0.00</span>
                            </div>

                        </div>
                        <input type="hidden" name="needId" value="@need.id">
                        <input type ="hidden" name="donationAmount" id="donationFinal">
                        <div class="row align-center">
                            <div class="col-sm-3 col-sm-offset-5" id="addStripeButton">

                                <script id="stripe"
                                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                        data-key="pk_test_b0grQz7PHEniHo9E5rTxcwfX"
                                        data-image="@routes.Assets.at("img/GreenTree.png")"
                                data-name="CommunityRoots.net"
                                data-description="Donation to @need.title in @need.location"
                                data-currency="EUR"
                                data-panel-label="Donate"
                                data-label="Pay with card"
                                data-email="@user.email"
                                >
                                </script>

                                    </form>
                                }
                            </div>
                        </div>

                </div>
                 } else {
                     <div class="col-sm-4 col-sm-offset-3"><p>Please <a href="@routes.Login.login()">Login</a> or <a href="@routes.Registration.register()">register</a> to donate</div>
                 }
            </div>


            <div class="row top-buffer">
                <div class="col-sm-7">
                    <h1>Updates</h1>
                </div>
            </div>
                @for(update <- updates){
                    <div class="row">
                        <div class="col-sm-2">@update.dateAdded</div>
                        <div class="col-sm-7"><h3>@update.title</h3></div>
                    </div>
                    <div class="row pad-bot40">
                        <div class="col-sm-7 col-sm-offset-2">@update.message</div>
                    </div>
                }


        </div>
    </div>

    <a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>


}
<script>

    $("#donateAmount").click(function() {
        $("#enterAmount").toggle();
    });
    $("#donationAmount").bind("keyup change", function(e) {
        var amount = parseFloat($("#donationAmount").val());
        var amountNeeded = $("#amountNeeded").text();
        amountNeeded = parseFloat(amountNeeded.slice(1,amount.length));
        if(!isNaN(amount)){
            if(amount>amountNeeded){
                $("#showAmount").text("Amount more than needed");
                $("#stripeFee").text("€0.00");
                $("#stripeTotal").text("€0.00");
                $("#donationFinal").val(0);
            }
            else {
                var paymentFee = ((amount *2.4)/100) +.24;
                var VAT_PERCENT =23;
                var vat= (paymentFee * VAT_PERCENT)/100;
                paymentFee = paymentFee + vat;
                var total = amount +paymentFee;
                $("#showAmount").text("€"+amount.toFixed(2));
                $("#stripeFee").text("€"+paymentFee.toFixed(2));
                $("#stripeTotal").text("€"+total.toFixed(2));
                $("#donationFinal").val(total.toFixed(2));
            }
        }
        else {
            $("#showAmount").text("€0.00");
            $("#stripeFee").text("€0.00");
            $("#stripeTotal").text("€0.00");
            $("#donationFinal").val(0);
        }
    });
</script>