
@main {
<section class="featured"></section>

<section id="parallax1" class="section pad-top40 pad-bot40" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="align-center pad-top40 pad-bot40">
            <blockquote class="bigquote color-white">Error</blockquote>
            <p class="color-white">Woops</p>
        </div>
    </div>
</section>

<section id="section-about" class="section appear clearfix">
    <div class="container">
        <div class="row mar-bot40">
            <div class="col-md-offset-3 col-md-6">
                <div class="section-header">
                    <h2 class="section-heading animated" data-animation="bounceInUp">Sorry, an error occured</h2>
                    <p>This could be for a number of reasons.</p>
                    <p>Click <a href="@routes.Application.index()">here</a> to get back to the homepage</p>
                </div>
            </div>
        </div>
    </div>
</section>

<a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>
}