<section id="header" class="appear">
    <div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="fa fa-bars color-white"></span>
                </button>
                <h1><a class="navbar-brand" href="@routes.Application.index()" data-0="line-height:90px;" data-300="line-height:50px;">			Community Roots
                </a></h1>
            </div>
            <div class="row">
                <div class="col-lg-7 col-md-8 pull-right">
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
                            <li><a href="@routes.Application.index()" tabindex="1">About us</a></li>
                            <li><a href="@routes.Application.needs()" tabindex="2">Needs</a></li>
                            @if(session().get("email")==null) {
                                <li><a href="@routes.Registration.register()" tabindex="3">Register</a></li>
                                <li><a href="@routes.Login.login()" tabindex="4">Login</a></li>
                            } else {
                                <li><a href="@routes.Profile.profile()" tabindex="3">Profile</a></li>
                                <li><a href="@routes.Profile.settings()" tabindex="4">Settings</a></li>
                                <li><a href="@routes.Login.logout()" tabindex="5">Logout</a></li>
                            }

                        </ul>
                    </div><!--/.navbar-collapse -->
                </div>
            </div>
        </div>
    </div>
</section>