@main {

    <style>
    section.featured {
        padding: 200px 0 60px !important;
    }
    </style>
    <section id="header" class="appear"></section>
    <div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="fa fa-bars color-white"></span>
                </button>
                <h1><a class="navbar-brand" href="@routes.Application.index()" data-0="line-height:90px;" data-300="line-height:50px;">			Community Roots
                </a></h1>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
                    <li class="active"><a href="@routes.Application.index()">Home</a></li>
                    <li><a href="@routes.Application.needs()">Needs</a></li>
                    <li><a href="@routes.Application.index()#about" id="aboutLink">About us</a></li>
                    @if(session().get("email")==null) {
                        <li><a href="@routes.Registration.register()">Register</a></li>
                        <li><a href="@routes.Login.login()">Login</a></li>
                    } else {
                        <li><a href="@routes.Profile.profile()">Profile</a></li>
                        <li><a href="@routes.Profile.settings()">Settings</a></li>
                        <li><a href="@routes.Login.logout()">Logout</a></li>
                    }

                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </div>

    <section class="featured">
        <div class="container">
            <div class="row mar-bot40">
                <div class="col-md-6 col-md-offset-3">

                    <div class="align-center">
                        <img src="@routes.Assets.at("img/WhiteTree.png")" width="130" height="195" alt="CommunityRoots Logo" />
                        <h2 class="slogan" id="small">Welcome to </h2><h2 class="slogan">Community Roots</h2>
                        <p>
                            Community Roots is a way for charities to post needs of real community members.
                            You can then donate towards this need. When the full amount has been raised the money will
                            be released to the charity. This means you know where your money is going.
                            Your money will be used exactly how you want to help the needs of real people.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About -->
    <a name="about"></a>
    <section id="section-services" class="section pad-bot30 bg-white">
        <div class="container">

            <div class="row mar-bot40">
                <div class="col-lg-4" >
                    <div class="align-center">
                        <i class="fa fa-square-o fa-5x mar-bot20"></i>
                        <h4 class="text-bold">Transparent</h4>
                        <p>You can see exactly what your money has been used for. We try to keep you updated at every step.
                            The code that controls this system is also online and can be viewed
                            <a href="https://github.com/CommunityRoots/Transparent-Donation-System">here</a>.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4" >
                    <div class="align-center">
                        <i class="fa fa-dollar fa-5x mar-bot20"></i>
                        <h4 class="text-bold">Your money</h4>
                        <p>You are in control of your money. You decide what your money goes towards. Your money will go to a real need,
                            that can help the life of a real person.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4" >
                    <div class="align-center">
                        <i class="fa fa-heart-o fa-5x mar-bot20"></i>
                        <h4 class="text-bold">We Care</h4>
                        <p>Community Roots was built with one purpose, to help people. This is what we aim to do.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-- spacer section:testimonial -->
    <section id="testimonials" class="section" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="align-center">
                        <div class="testimonial pad-top40 pad-bot40 clearfix">

                        </div>

                    </div>
                </div>
            </div>

        </div>
        </div>
    </section>

    <!-- about -->
    <section id="section-about" class="section appear clearfix">
        <div class="container">

            <div class="row mar-bot40">
                <div class="col-md-offset-3 col-md-6">
                    <div class="section-header">
                        <h2 class="section-heading animated" data-animation="bounceInUp">Our Partners</h2>
                        <p>Charities visit the homes of people with needs. They verify there is an actual need. This is how
                        needs get onto our website. Without charities this system wouldnt function</p>
                    </div>
                </div>
            </div>

            <div class="row align-center mar-bot40">
                <div class="col-md-3">
                    <div class="team-member">
                        <figure class="member-photo"><img src="@routes.Assets.at("img/svp-logo.png")" width="120" alt="" /></figure>
                        <div class="team-detail">
                            <h4>St. Vincent de Paul</h4>
                            <span><a href="http://www.svp.ie/">www.svp.ie</a> </span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- /about -->

    <!-- spacer section:stats -->
    <section id="parallax1" class="section pad-top40 pad-bot40" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="align-center pad-top40 pad-bot40">

            </div>
        </div>
    </section>

    <!-- section works -->
    <section id="section-works" class="section appear clearfix">
        <div class="container">

            <div class="row mar-bot40">
                <div class="col-md-offset-3 col-md-6">
                    <div class="section-header">
                        <h2 class="section-heading animated" data-animation="bounceInUp">The Process Explained</h2>
                        <div class ="row ">
                            <div class="col-md-2"><i class="fa fa-user pull-left fa-3x mar-bot20"></i></div>
                            <div class="col-md-10 text-left">A charity will hear of a person with a need in their area.</div>
                        </div>
                        <br>
                        <div class="row ">

                            <div class="col-md-2"><i class="fa fa-home pull-left fa-3x mar-bot20"></i></div>
                            <div class="col-md-10 text-left">The charity will verify this is a genuine need. This may involve a home visit.</div>
                        </div>
                        <br>
                        <div class="row ">
                            <div class="col-md-2"><i class="fa fa-desktop pull-left fa-3x mar-bot20"></i></div>
                            <div class="col-md-10 text-left">The charity will enter the need into the CommunityRoots system.</div>
                        </div>
                        <br>
                        <div class="row ">
                            <div class="col-md-2"><i class="fa fa-users pull-left fa-3x mar-bot20"></i></div>
                            <div class="col-md-10 text-left">Users from all around the world can donate money to the need.</div>

                        </div>
                        <br>
                    </div>
                </div>
            </div>




        </div>
    </section>

            </div>

        </div>
    </section>


    <section id="footer" class="section footer">
        <div class="container">
            <div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
                <div class="col-sm-12 align-center">
                    <ul class="social-network social-circle">
                        <li><a href="https://www.facebook.com/communityroots.net" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://github.com/CommunityRoots/Transparent-Donation-System" class="icoGithub" title="Google +"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="row align-center copyright">
                <div class="col-sm-12"><p>Copyright &copy; 2015 CommunityRoots </p></div>
            </div>
        </div>

    </section>
    <a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>
}