@(needs: List[Need])
@main {

    <section id="header" class="appear"></section>
    <div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="fa fa-bars color-white"></span>
                </button>
                <h1><a class="navbar-brand" href="index.html" data-0="line-height:90px;" data-300="line-height:50px;">			Community Roots
                </a></h1>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
                    <li><a href="@routes.Application.index()">Home</a></li>
                    <li class="active"><a href="@routes.Application.needs()">Needs</a></li>
                    <li><a href="@routes.Application.index()#about">About us</a></li>
                    @if(session().get("email")==null) {
                        <li><a href="@routes.Registration.register()">Register</a></li>
                        <li><a href="@routes.Application.login()">Login</a></li>
                    } else {
                        <li><a href="@routes.Application.profile()">Profile</a></li>
                        <li><a href="@routes.Application.settings()">Settings</a></li>
                        <li><a href="@routes.Application.logout()">Logout</a></li>
                    }

                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </div>

    <section class="featured"></section>

    <section id="parallax1" class="section pad-top40 pad-bot40" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="align-center pad-top40 pad-bot40">
                <blockquote class="bigquote color-white">Needs</blockquote>
                <p class="color-white">Bootstraptaste</p>
            </div>
        </div>
    </section>

    <!-- section works -->
    <section id="section-works" class="section appear clearfix">
        <div class="container">

            <div class="row mar-bot40">
                <div class="col-md-offset-3 col-md-6">
                    <div class="section-header">
                        <h2 class="section-heading animated" data-animation="bounceInUp">
                            Your
                            <a class="dropdown-toggle"
                            data-toggle="dropdown"
                            href="#">
                                community
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                    <!-- links -->
                                <li><a tabindex="-1" href="#">country</a></li>
                            </ul>
                         </h2>
                        <p>The most urgent needs in your community</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <nav id="filter" class="col-md-12 text-center">
                    <ul>
                        <li><a href="#" class="current btn-theme btn-small" data-filter="*">All</a></li>
                        <li><a href="#"  class="btn-theme btn-small" data-filter=".photography">Family</a></li>
                        <li ><a href="#" class="btn-theme btn-small" data-filter=".print">Education</a></li>
                    </ul>
                </nav>
                <div class="col-md-12">
                    <div class="row">
                        <div class="portfolio-items isotopeWrapper clearfix" id="3">
                            <!-- NEEDS GO HERE-->
                            @for(need <- needs) {
                                <article class="col-md-4 isotopeItem webdesign">
                                    <div class="portfolio-item">
                                        <img src="img/portfolio/img1.jpg" alt="" />
                                        <div class="portfolio-desc align-center">
                                            <div class="folio-info">
                                                <h5><a href="@routes.Application.viewNeed(need.id)">@need.title</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            }

                        </div>

                    </div>


                </div>
            </div>

        </div>
    </section>

    <a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>
}