@(currentPage: Integer, pageCount: Integer, blockPageSize: Integer, onPage: String)



<nav>
    <ul class="pagination">

        @if(currentPage == 1) {
            <li class="disabled"><span>&laquo;</span></li>
        }else {
            @if(onPage == "needs") {
                <li><a href="@routes.Application.needs(currentPage - 1)">&laquo;</a></li>
            } else { @if(onPage == "volunteers") {
                <li><a href="@routes.Profile.listVolunteers(currentPage - 1)">&laquo;</a></li>
                 } else {
                <li><a href="@routes.Profile.profile(currentPage - 1)">&laquo;</a></li>
                }
            }
        }
        @for(index <- utils.TemplateHelpers.createRange(currentPage, blockPageSize, pageCount)) {
            @if(currentPage == index) {
                <li class="disabled"><span>@index</span></li>
            } else {
                @if(onPage == "needs") {
                    <li><a href="@routes.Application.needs(index)">@index</a></li>
                } else { @if(onPage == "volunteers"){
                    <li><a href="@routes.Profile.listVolunteers(index)">@index</a></li>
                    } else {
                        <li><a href="@routes.Profile.profile(index)">@index</a></li>
                    }
                }
            }
        }

        @if(currentPage == (pageCount-1)) {
            <li class="disabled"><span>&raquo;</span></li>
        } else {
            @if(onPage == "needs") {
                <li><a href="@routes.Application.needs(currentPage + 1)">&raquo;</a></li>
            } else { @if(onPage == "volunteers"){
                <li><a href="@routes.Profile.listVolunteers(currentPage + 1)">&laquo;</a></li>
                } else {
                    <li><a href="@routes.Profile.profile(currentPage + 1)">&raquo;</a></li>
                }
            }
         }


    </ul>
</nav>