
@main {

    <section id="header" class="appear"></section>
    <div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="fa fa-bars color-white"></span>
                </button>
                <h1><a class="navbar-brand" href="@routes.Application.index()" data-0="line-height:90px;" data-300="line-height:50px;">			Community Roots
                </a></h1>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
                    <li><a href="@routes.Application.index()">Home</a></li>
                    <li><a href="@routes.Application.needs()">Needs</a></li>
                    <li><a href="@routes.Application.index()#about">About us</a></li>
                    @if(session().get("email")==null) {
                        <li><a href="@routes.Registration.register()">Register</a></li>
                        <li><a href="@routes.Application.login()">Login</a></li>
                    } else {
                        <li><a href="@routes.Application.profile()">Profile</a></li>
                        <li class="active"><a href="@routes.Application.settings()">Settings</a></li>
                        <li><a href="@routes.Application.logout()">Logout</a></li>
                    }
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </div>
    <section class="featured"></section>
    <h1>Your account settings</h1>
    <li>Change your password</li>
    <li>Change your email address</li>
    <li></li>

}
</body>
</html>