@(need: Need)
@main {

    <section id="header" class="appear"></section>
    <div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="fa fa-bars color-white"></span>
                </button>
                <h1><a class="navbar-brand" href="index.html" data-0="line-height:90px;" data-300="line-height:50px;">			Community Roots
                </a></h1>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
                    <li><a href="@routes.Application.index()">Home</a></li>
                    <li class="active"><a href="@routes.Application.needs()">Needs</a></li>
                    <li><a href="@routes.Application.index()#about">About us</a></li>
                    @if(session().get("email")==null) {
                        <li><a href="@routes.Registration.register()">Register</a></li>
                        <li><a href="@routes.Application.login()">Login</a></li>
                    } else {
                        <li><a href="@routes.Application.profile()">Profile</a></li>
                        <li><a href="@routes.Application.settings()">Settings</a></li>
                        <li><a href="@routes.Application.logout()">Logout</a></li>
                    }

                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </div>

    <section class="featured"></section>

    <!-- section works -->
    <section id="section-works" class="section appear clearfix">
        <div class="container">
            <div class="row mar-bot40">
                <div class="col-md-offset-3 col-md-6">
                    <div class="section-header">
                        <h2 class="section-heading animated" data-animation="bounceInUp">
                            @need.title
                         </h2>
                        <p>@need.description</p>
                        <ul>
                            <li> Ask Amount @need.askAmount</li>
                            <li> Donated Amount: @need.donatedAmount</li>
                            <li> Percent donated: @need.progressPercentage()%</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>
}