@import helper._
@(form: Form[Profile.AddNeed],form2: Form[Profile.EditCharity],user: User, needs: List[Need], currentPage: Integer, pageCount: Integer)
@main {
    <section class="featured"></section>
        <section id="section-works" class="section appear clearfix">
            <div class="container">
                <div class="row">
                    <h1>Your Profile</h1>
                </div>
                <div class="row">
                    <dl id="user">
                        <dt>@user.firstName @user.lastName</dt>
                    </dl>
                </div>

                @if(user.role <4) {
                    <div class="row" >
                        <div class ="col-lg-2 col-md-3" style=""><button id="showAddNeed" class="btn btn-success btn-block btn-lg" tabindex="7">Add Need</button></div>
                        @if(user.role <3) {
                            <div class ="col-lg-2 col-md-3"><button id="showAddVol" class="btn btn-success btn-block btn-lg " tabindex="8">Add Volunteer</button></div>
                            <div class ="col-lg-2 col-md-3"><button id="showEditCharity" class="btn btn-success btn-block btn-lg " tabindex="9">Edit Charity</button></div>
                            <div class ="col-lg-2 col-md-3"><a href="@routes.Profile.listVolunteers()"><button id="listVol" class="btn btn-success btn-block btn-lg" tabindex="9">List Volunteers</button></a></div>
                        }

                        <br /><br /><br />
                    </div>
                    @if(form.hasGlobalErrors) {
                        <p class="error">
                            @form.globalError.message
                        </p>
                    }

                    @if(flash.contains("success")) {
                        <p class="success">
                            @flash.get("success")
                        </p>
                    }
                    @if(flash.contains("error")) {
                    <p class="error">
                        @flash.get("error")
                    </p>
                    }
                    <div class ="row" id="status" style="display:none">
                        <p id="needAdded"></p>
                    </div>
                <!-- Edit charity -->
                <div class="row" id="editCharity" style="display: none">
                    <div class="col-lg-10">
                        <h3>Edit Charity</h3>
                        @helper.form(CSRF(routes.Profile.editCharity)) {
                        <div class="container-form">
                            <form role="form">
                                <div class="row pad-bot10">
                                    <div class="col-lg-4"><input type="text" name="charityName" class="form-control input-lg" placeholder="Charity Name" value="@form2("charityName").value"></div>
                                </div>
                                <div class="row pad-bot10">
                                    <div class="col-lg-4"><input type="text" name="website" class="form-control input-lg" placeholder="Website" value="@form2("website").value"></div>
                                </div>
                                <div class="row pad-bot10">
                                    <div class ="col-lg-6"><textarea class="form-control input-lg" rows="3" name="description"  placeholder="Description of charity" maxlength="600">@form2("description").value</textarea></div>
                                </div>
                                <div class="row">
                                    <div class ="col-lg-2"><button type="submit" class="btn btn-success btn-block btn-lg" tabindex="10">Submit</button></div><div class ="col-lg-2"><button id="closeEditCharity" class="btn btn-danger btn-block btn-lg" tabindex="11">Close</button></div>
                                </div>

                            </form>
                        </div>
                        }
                    </div>
                </div>

                        <div id="addNeed" style="display:none">
                                <div class="container-form">
                                    <form role="form" id="addNeedForm" onSubmit="return false;">
                                        <div class="row" style="padding-bottom: 5px">
                                            <div class="form-group">
                                                <div class="col-lg-4"><input type="text" name="title" id="needTitle" class="form-control input-lg" placeholder="Need Title" maxlength="20" value="@form("needTitle").value" tabindex="11"></div>
                                                <label for="needTitle">Greater than 4 letters & less than 20</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-4"><input type="number" name="amount" id="amount" class="form-control input-lg" placeholder="€" tabindex="12"></div><br /><br />
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4"><input type="text" name="location" id="location" class="form-control input-lg" placeholder="Location" tabindex="13"></div><br /><br />
                                        </div>
                                        <div class="row" style="padding-bottom: 5px">
                                            <div class="form-group">
                                                <div class="col-lg-4">
                                                    <select id="urgency" tabindex="14" class="form-control input-lg">
                                                        <option selected disabled>Urgency</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                        <option>6</option>
                                                        <option>7</option>
                                                        <option>8</option>
                                                        <option>9</option>
                                                        <option>10</option>
                                                    </select>
                                                </div>
                                                <label for="urgency">10 being extremely urgent</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <select id="category" tabindex="15" class="form-control input-lg">
                                                    <option selected disabled>Category</option>
                                                    <option>Family</option>
                                                    <option>Education</option>
                                                </select>
                                            </div>
                                            <br /><br />
                                        </div>
                                        <div class="row">
                                            <div class ="col-lg-6"><textarea class="form-control input-lg" rows="3" id="needDescription" placeholder="Description" maxlength="600" tabindex="16"></textarea></div><br /><br />
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class ="col-lg-2"><button id="addNeedButton" class="btn btn-success btn-block btn-lg" tabindex="17">Add</button></div><div class ="col-lg-2"><button id="closeNeed" class="btn btn-danger btn-block btn-lg" tabindex="18">Close</button></div>
                                        </div>

                                    </form>
                                </div>
                            <br /> <br />
                        </div>

                        <div id="addVolunteer" style="display: none">
                            <div class="container-form">
                                <form role="role" id="addVolunteerForm" onsubmit="return false;">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-lg-4"><input type="email" name="volEmail" id="volEmail" class="form-control input-lg" placeholder="Volunteer Email" tabindex="19"></div>
                                            <label for="volEmail">User must already be registered</label>
                                        </div>
                                        <br />
                                    </div>
                                    <div class="row">
                                        <div class ="col-lg-2 col-md-3"><button id="addVolButton" class="btn btn-success btn-block btn-lg" tabindex="20">Add</button></div><div class ="col-lg-2 col-md-3"><button id="closeVol" class="btn btn-danger btn-block btn-lg" tabindex="21">Close</button></div>
                                    </div>
                                </form>
                            </div>
                            <br /> <br />
                        </div>

                    <div class="row">
                        <h2>Needs you have added</h2>
                    </div>
                } else {
                    <div class="row">
                        <h2 style="padding-left: 0">Needs you have donated to</h2>
                    </div>
                }
                <div class="row">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Need</th>
                            <th>Donated Amount</th>
                            <th>Percent Donated</th>
                            <th>Added</th>
                            @if(user.role <4) {
                                <th>Edit</th>
                                <th>Delete</th>
                            }
                        </tr>
                        </thead>
                        <tbody>
                            @for((need,index) <- needs.zipWithIndex) {
                            <tr>
                                <td><a href="@routes.Needs.viewNeed(1,need.id)">@need.title</a></td>
                                <td>€@need.donatedAmount</td>
                                <td>@need.progressPercentage()%</td>
                                <td>@need.daysSinceNeedAdded() days ago</td>
                                @if(user.role <4 ) {
                                    <td><a href="@routes.Profile.editNeed(need.id)"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="@routes.Profile.deleteNeed(need.id)"><i class="fa fa-trash-o"></i></a></td>
                                }
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row align-center">
                    @if(pageCount >1){
                         @pagination(currentPage, pageCount, pageCount, "profile")
                    }
                </div>

                    }
                    </div>
                </div>
            </section>

        <script src="@routes.Assets.at("js/profile.js")"></script>



</body>
</html>