@import helper._
@(form: Form[Profile.ChangePass], form2: Form[Profile.ChangeEmail],user:User)
@main {
    <section class="featured"></section>
    <section id="section-works" class="section appear clearfix">
        <div class="container">
            <div class="row">
                <h1>Your account settings</h1>
            </div>
            @if(form.hasGlobalErrors) {
            <p class="error">
                @for(error <- form.globalErrors) {
                    <li>@error.message</li>
                }
            </p>
            }

            @if(flash.contains("success")) {
            <p class="success">
                @flash.get("success")
            </p>
            }
            <div class="row">
                <h3>Change Password</h3>
                @helper.form(CSRF(routes.Profile.changePassword)) {
                    <div class="container-form">
                        <form role="form">
                            <div class="row">
                                <div class="col-lg-4"><input type="password" name="oldPassword" id="oldPassword" class="form-control input-lg" placeholder="Old Password" value="@form("oldPassword").value" tabindex="5"></div><br /> <br />
                            </div>
                            <div class="row">
                                <div class="col-lg-4"><input type="password" name="newPassword" id="newPassword" class="form-control input-lg" placeholder="New Password" value="@form("newPassword").value" tabindex="5"></div><br /> <br />
                            </div>
                            <div class="row">
                                <div class="col-lg-4"><input type="password" name="retypePassword" id="retypePassword" class="form-control input-lg" placeholder="Retype Password" value="@form("retypePassword").value" tabindex="5"></div><br /> <br />
                            </div>
                            <div class="row">
                                <div class ="col-lg-2"><button type="submit" class="btn btn-success btn-block btn-lg">Submit</button></div>
                            </div>

                        </form>
                    </div>
                }
            </div>

            <br />
            <div class="row">
                <h3>Change Email</h3>
                @helper.form(CSRF(routes.Profile.changeEmail)) {
                <div class="container-form">
                    <form role="form">
                        <div class="row">
                            <div class="col-lg-4"><input type="email" name="email" id="email" class="form-control input-lg" placeholder="New Email" value="@form("email").value" tabindex="5"></div><br /> <br />
                        </div>
                        <div class="row">
                            <div class="col-lg-4"><input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" value="@form("password").value" tabindex="5"></div><br /> <br />
                        </div>
                        <div class="row">
                            <div class="col-lg-2"><button type="submit" class="btn btn-success btn-block btn-lg">Submit</button></div><br /> <br />
                        </div>
                    </form>
                </div>

            </div>
            <div class="row">
                <div class ="col-lg-4" style="padding-left: 0; padding-top: 20px">
                    <h3>Email subscriptions</h3>
                    <a href="@routes.Profile.subscriptions(user.email)" type="button" class="btn btn-success btn-block btn-lg">Change notifications</a>
                </div>
                }
            </div>
        </div>
    </section>

}
</body>
</html>