@import helper._
@(volunteers: List[User],currentPage: Integer, pageCount: Integer)
@main {
<section class="featured"></section>
<section id="section-works" class="section appear clearfix">
    <div class="container">
        <div class="row">
            <h1>Volunteers</h1>
        </div>
        @if(flash.contains("success")) {
        <p class="success">
            @flash.get("success")
        </p>
        }

        <div class="row">
            <p>Volunteers listed in your charity.</p>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody>
                @for((volunteer,index) <- volunteers.zipWithIndex) {
                <tr>
                    <td>@volunteer.firstName</td>
                    <td>@volunteer.lastName</td>
                    <td>@volunteer.email</td>
                    <td><a href="@routes.Profile.deleteVolunteer(volunteer.email)"><i class="fa fa-minus-circle"></i></a> </td>
                </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="row align-center">
            @if(pageCount >1){
                @pagination(currentPage, pageCount, pageCount, "volunteers")
            }
        </div>




    </div>
</section>

}
